# Виртуальное окружение
**/venv/
**/.venv/
**/env/

# Кэш Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Гит и настройки редактора
**/.git/
**/.gitignore
**/.vscode/
**/.idea/

# Логи, переменные и базы данных
**/*.log
**/.DS_Store
**/*.txt
**/*.db
**/.env
