# Виртуальное окружение
**/venv/
**/.venv/
**/env/

# Кэш Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Гит и настройки редактора
**/.git/
**/.gitignore
**/.vscode/
**/.idea/

# Базы данных, логи и секреты
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.log
**/log.txt
**/.env
